@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  height: 100vh;
  border-radius: 15px;
  margin-left: 5%;
  align-content: flex-start;
  justify-content: flex-start;
  margin-top: 5%;
}



.div50 {
  display: flex;
  flex-flow: column wrap;

  width: 40%;
  height: 40%;

  align-self: center;
}


.div50 img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: top;
}